/**
 * Editor styles for backend
 */
.block-editor-block-list__block[data-type="pronamic/slider"] {
	max-width: 100%;
}

.pronamic-block-slider {
	border: 3px dashed #ccd0d4;
	padding: 30px;

	.pronamic-block-slider_slide {
		border: 3px dashed #ccd0d4;
		padding: 30px;
	}
}
